html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
  
.content {
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
    text-align: center;
    height: 15px;
    background-color:  #1E1310;
    color: #fff;
    padding: 3px;
    margin-top: 50px;
}
